@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 1400px){
	body{
		background-color: #FFFFFF;
		font-size: 100%;
		}
	a{
		text-decoration: none;
		color: black;
		}
	h1{
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size: 2em;
		text-overflow: ellipsis;
		white-space:pre-wrap;
		overflow: inherit;
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	p{
		font-family: "Darker Grotesque", "Arial";
		font-size: 1.25em;
		text-overflow: ellipsis;
		white-space:pre-line;
		overflow: hidden;
	}
	h4{
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		text-decoration: underline;
	}
	
	.logo{
		display: flex;
		align-content: center;
		justify-content: center;
		margin-top: 10px;
		height: 100px;
		}


/*	home area*/
	.home{
		overflow-y: scroll;
		height:400px;
		scroll-snap-type: y mandatory;
		scroll-padding:15px;
		}
}


@media only screen and (max-width: 1920px){
	body{
		background-color: #FFFFFF;
		font-size: 100%;
		}
	a{
		text-decoration: none;
		color: black;
		}
	h1{
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size: 3em;
		text-overflow: ellipsis;
		overflow: inherit;
		margin: 0 auto;
		text-align: center;
	}
	p{
		font-family: "Darker Grotesque", Arial;
		font-size: 2em;
		text-overflow: ellipsis;
		white-space:pre-line;
		overflow: hidden;
	}
	h4{
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		text-decoration: underline;
		font-size:1.5em;
	}
	.top{
		height: 200px;
		display: grid;
		grid-template: 100% / 33% 34% 33%;
	}
	
	.logo{
		margin-top: 10%;
		grid-area: 1/2;
		justify-self: center;
		}
	.homepage-btn{
		grid-area: 1/3;
		justify-self: center;
		margin-top: 15%;
	}
	
	.home{
		overflow-y: scroll;
		height:650px;
		scroll-padding:15px;
		}
	.home-logout{
		height:650px;
		align-content: center;
		padding-top: 10%;
		}
	.home-btn{
	  margin: 0;
	  position: relative;
	  top: 10%;
	  left: 45%;

	}
	
	.login-box{
		padding:1% 5% 1% 5%;
		background-color: #F9F9F9;
		width: 30%;
		height: 90%;
		margin: 0 auto;
		border-radius: 20px;
	}
	.form-hidden{
		display: none;
	}
	
	.title{
		margin: 0;
		padding: 0;
	}
	.inputContainer label{
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size:1.5em;
		display: block;
	}
	.inputContainer input{
		width: 100%;
		padding: 15px;
	}
	.inputContainer-signup label{
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size:1.5em;
		display: block;
	}
	.inputContainer-signup input{
		width: 100%;
		padding: 12px;
	}
		
	.login-btn{
		margin-top: 10%;
	}
	.btn-login {
		width: 20vw;
		background-color: #444444;
		border:none;
		text-align: center;
		color: white;
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size:2.0em;
		border-radius: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.btn-login:hover {
		background-color: #212121;
	}
	.btn-login:active {
		transform: scale(0.98);
	}
	.click-signUp{
		cursor:pointer;
	}
	.click-signUp:hover{
		text-decoration: underline;
	}
	
	.signup-btn{
		margin-top: 10%;
	}
	.signup-box{
		padding:1% 5% 1% 5%;
		background-color: #F9F9F9;
		width: 30%;
		height: 90%;
		margin: 0 auto;
		border-radius: 20px;
	}
	.btn-signup {
		width: 20vw;
		background-color: #444444;
		border:none;
		text-align: center;
		color: white;
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size:2.0em;
		border-radius: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 0px;
	}
	.btn-signup:hover {
		background-color: #212121;
	}
	.btn-signup:active {
		transform: scale(0.98);
	}
	
	.alr{
		font-size: 1.85em;
	}
	.click-signIn{
		cursor:pointer;
	}
	.click-signIn:hover{
		text-decoration: underline;
	}
		
	.form_message, .form_input-error-message{
		color: red;
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size:1.5em;
	}
	
	.form_input-error{
		border-style: solid;
		border-color: red;
	}
	.form_input-success{
		border-style: solid;
		border-color: #66CC00;
	}
	
	.form_input-success-message{
		color: #66CC00;
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size:1.5em;
	}
	
	.btn-dark-custom{
		width: 10vw;
		background-color: #1E1E1E;
		border:none;
		text-align: center;
		color: white;
		font-family: "Darker Grotesque SemiBold", "Arial Black";
		font-size:1.5em;
		border-radius: 5px;
	}
	}